h1 {
  text-align: left;
}

hr {
  color: darkgray;
}

.outer-container {
  margin: auto;
  width: 930px;
}

.widgets-container {
  display: flex;
}

@media (max-width: 930px) {
  .widgets-container {
    flex-direction: column; /* Stacks items vertically on smaller screens */
  }
  .outer-container {
    width: 310px;
  }
}
